<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
       <%= link_to restaurants_path, class: "navbar-brand" do  %>
        <i class="fas fa-utensils"> Restaurants</i>
       <% end %>
       <%= link_to "Create restaurant", new_restaurant_path, class: "nav-item nav-link btn btn-primary" %>
    </nav>
    <%= yield %>
  </body>
</html>
